<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Comprar Auto</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/estilo.css">

	<script defer src="../js/script.js"></script>
</head>
<body>
	

	<div class="conteinerr">
		<div class="row">
			<div class="col-lg-6">
				<nav class="navbar bg-white">
				  <div class="container">
				    <a class="navbar-brand" href="#">
				      <img src="../assets/img/auto.jpg" alt="Bootstrap" width="150" height="150">
				    </a>
				  </div>
				</nav>
			</div>
		</div>
	

		<div id = "saludo">
			
		</div>

		<div id = "datos">

		</div>
		<div id="agregado">
			
			<button id= "botonMuestra" Class="btn btn-primary botonAyuda">Olvido sus datos</button>
		</div>

		<div class="row">
			<h2>Simulador de concesionario</h2>
			<p>Trabajamos con la marca de auto fiat, renault, chevrolet y VW</p>
		</div>

		<div class="row">
			<form class="d-flex col-lg-12" role="search">
	        	<input class="form-control me-2 buscador" type="search" placeholder="Busca tu auto" aria-label="Search">
	        	<button class="btn btn-outline-success botonBuscador" type="submit">Buscar</button>
	        </form>
		</div>

		<div class="row">
			<div class="row row-cols-1 row-cols-md-3 g-4">
			  <div class="col">
			    <div class="card h-100 card">
			      <div class="card-body">
					<img src="../assets/img/fiat punto.jpg" class="card-img-top perfilFoto" alt="...">
			        <h5 class="card-title">Fiat Punto</h5>
					<button class="btn btn-primary" data-id="1">Comprar</button>
			      </div>
			      
			    </div>
			  </div>
			  <div class="col">
			    <div class="card h-100 card">
			      <div class="card-body">
					<img src="../assets/img/vento.jpg" class="card-img-top" alt="...">
			        <h5 class="card-title">Wolsvagen Vento</h5>
					<button class="btn btn-primary" data-id="2">Comprar</button>
			      </div>
			     
			    </div>
			  </div>
			  <div class="col">
			    <div class="card h-100 card">
			      <div class="card-body">
					<img src="../assets/img/bora.jpg" class="card-img-top" alt="...">
			        <h5 class="card-title">Wolsvagen Bora</h5>
					<button class="btn btn-primary" data-id="3">Comprar</button>
			      </div>
			     
			    </div>
			  </div>
		    </div>
		</div>


		<!--fila 1 de auto-->
		<div class="row">
			<div class="row row-cols-1 row-cols-md-3 g-4">
			  <div class="col">
			    <div class="card h-100 card">
			      <div class="card-body">
					<img src="../assets/img/chevrolet corsa.jpg" class="card-img-top" alt="...">
			        <h5 class="card-title">Chevrolet Corsa</h5>
					<button class="btn btn-primary" data-id="4">Comprar</button>
			      </div>
			      
			    </div>
			  </div>
			  <div class="col">
			    <div class="card h-100 card">
			      <div class="card-body">
					<img src="../assets/img/ford fiesta.jpg" class="card-img-top" alt="...">
			        <h5 class="card-title">Ford Fiesta</h5>
					<button class="btn btn-primary" data-id="5">Comprar</button>
			      </div>
			      
			    </div>
			  </div>
			  <div class="col">
			    <div class="card h-100 card">
			      <div class="card-body">
					<img src="../assets/img/wolsvagen up.jpg" class="card-img-top" alt="...">
			        <h5 class="card-title">wolsvagen up</h5>
					<button class="btn btn-primary" data-id="6">Comprar</button>
			      </div>
			      
			    </div>
			  </div>
		    </div>
		</div>

		<!--fila de auto 2-->

		<div class="row">
			<div class="row row-cols-1 row-cols-md-3 g-4">
			  <div class="col">
			    <div class="card h-100 card">
			      <div class="card-body">
					<img src="../assets/img/ford ka.jpg" class="card-img-top perfilFoto" alt="...">
			        <h5 class="card-title">Ford Ka</h5>
					<button class="btn btn-primary" data-id="7">Comprar</button>
			      </div>

			    </div>
			  </div>
			  <div class="col">
			    <div class="card h-100 card">

			      <div class="card-body">
					<img src="../assets/img/fiat siena.jpg" class="card-img-top" alt="...">
			        <h5 class="card-title">Fiat Siena</h5>
					<button class="btn btn-primary" data-id="8">Comprar</button>
			      </div>
	
			    </div>
			  </div>
			  <div class="col">
			    <div class="card h-100 card">
			      <div class="card-body">
					<img src="../assets/img/yaris.jpg" class="card-img-top" alt="...">
			        <h5 class="card-title">Toyota Yaris</h5>
					<button  class="btn btn-primary" data-id="9">Comprar</button>
			      </div>
			    </div>
			  </div>
		    </div>
		</div>

		<h2 class="titulo-carro"> Carrito: </h2>
		
		<div id="carrito">
			
			
      
		</div>


		

	</div>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>